tmux/plugins/
htop/
byobu
matplotlib
.gsd-keyboard.settings-ported
Code - Insiders/
Code/
FortiClient/
Foxglove Studio/
JetBrains/
NVIDIA Corporation/
Unknown Organization/
alacritty/themes/
dconf/
enchant/
evolution/
gedit/
gh/
github-copilot/
gnome-initial-setup-done
go/
gtk-3.0/
ibus/
jgit/
lazygit/
mimeapps.list
monitors.xml
monitors.xml~
neofetch/
pulse/
thefuck/
user-dirs.dirs
user-dirs.locale
yelp/
zoom.conf
zoomus.conf
